# Tuple
A tuple is a fixed-length, immutable sequence of Python objects which, once assigned, cannot be changed. The easiest way to create one is with a comma-separated sequence of values wrapped in parentheses:

In [ ]:
tupe =(1, 67, 89, 45, 23, 90, 34, 56, 78, 12) # tuple
tupe # print tupe

(1, 67, 89, 45, 23, 90, 34, 56, 78, 12)

In [4]:
type(tupe)

tuple

In many contexts the paranthesis can be omitted, we could have written as:

In [6]:
tupe = 1, 67, 89, 45, 23, 90, 34, 56, 78, 12 # tuple
tupe # print tupe

(1, 67, 89, 45, 23, 90, 34, 56, 78, 12)

In [7]:
type(tupe)

tuple

Any sequence or iterator can be converted to tuple by invoking tuple:

In [8]:
tuple([4,0,9])

(4, 0, 9)

In [9]:
tup = tuple('string')

In [ ]:
tup # print tup

('s', 't', 'r', 'i', 'n', 'g')

Elements can be accessed by the use of square brackets []

In [13]:
tup[5]

'g'