# Tuple
A tuple is a fixed-length, immutable sequence of Python objects which, once assigned, cannot be changed. The easiest way to create one is with a comma-separated sequence of values wrapped in parentheses:

In [ ]:
tupe =(1, 67, 89, 45, 23, 90, 34, 56, 78, 12) # tuple
tupe # print tupe

(1, 67, 89, 45, 23, 90, 34, 56, 78, 12)

In [4]:
type(tupe)

tuple

In many contexts the paranthesis can be omitted, we could have written as:

In [6]:
tupe = 1, 67, 89, 45, 23, 90, 34, 56, 78, 12 # tuple
tupe # print tupe

(1, 67, 89, 45, 23, 90, 34, 56, 78, 12)

In [7]:
type(tupe)

tuple

Any sequence or iterator can be converted to tuple by invoking tuple:

In [8]:
tuple([4,0,9])

(4, 0, 9)

In [9]:
tup = tuple('string')

In [ ]:
tup # print tup

('s', 't', 'r', 'i', 'n', 'g')

Elements can be accessed by the use of square brackets []

In [13]:
tup[5]

'g'

In [14]:
#nested tuple
nested_tup = (4, 5, 6), (7, 8)
nested_tup # print nested_tup

((4, 5, 6), (7, 8))

In [15]:
nested_tup[1] # print nested_tup[1]

(7, 8)

In [16]:
''' While the objects stored in a tuple may be mutable themselves, once the tuple is
created it’s not possible to modify which object is stored in each slot: '''
tup = tuple(['foo', [1, 2], True]) # tuple
tup [2] = False # try to change the value of the tuple

TypeError: 'tuple' object does not support item assignment

In [22]:
tup = tuple(['foo', [1, 2], True]) 
tup[1].append(3) # add 3 to the list in the tuple
print(tup) # print tup

tup1 = (4, None, 'foo') + (6, 0) + ('bar',) # concatenate tuples
print(tup1) # print tup1

tup2 =('foo', 'bar') * 4 # multiply tuples
print(tup2)

('foo', [1, 2, 3], True)
(4, None, 'foo', 6, 0, 'bar')
('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [25]:
# Unpacking tuples
tup = (4, 5, 6) # tuple
a, b, c = tup # unpack tuple
print(b) # print b
print(a) # print a
print(c) # print c

5
4
6