# Tuple
A tuple is a fixed-length, immutable sequence of Python objects which, once assigned, cannot be changed. The easiest way to create one is with a comma-separated sequence of values wrapped in parentheses:

In [ ]:
tupe =(1, 67, 89, 45, 23, 90, 34, 56, 78, 12) # tuple
tupe # print tupe

(1, 67, 89, 45, 23, 90, 34, 56, 78, 12)

In [4]:
type(tupe)

tuple

In many contexts the paranthesis can be omitted, we could have written as:

In [6]:
tupe = 1, 67, 89, 45, 23, 90, 34, 56, 78, 12 # tuple
tupe # print tupe

(1, 67, 89, 45, 23, 90, 34, 56, 78, 12)

In [7]:
type(tupe)

tuple

Any sequence or iterator can be converted to tuple by invoking tuple:

In [8]:
tuple([4,0,9])

(4, 0, 9)

In [9]:
tup = tuple('string')

In [ ]:
tup # print tup

('s', 't', 'r', 'i', 'n', 'g')

Elements can be accessed by the use of square brackets []

In [13]:
tup[5]

'g'

In [14]:
#nested tuple
nested_tup = (4, 5, 6), (7, 8)
nested_tup # print nested_tup

((4, 5, 6), (7, 8))

In [15]:
nested_tup[1] # print nested_tup[1]

(7, 8)

In [16]:
''' While the objects stored in a tuple may be mutable themselves, once the tuple is
created it’s not possible to modify which object is stored in each slot: '''
tup = tuple(['foo', [1, 2], True]) # tuple
tup [2] = False # try to change the value of the tuple

TypeError: 'tuple' object does not support item assignment

In [22]:
tup = tuple(['foo', [1, 2], True]) 
tup[1].append(3) # add 3 to the list in the tuple
print(tup) # print tup

tup1 = (4, None, 'foo') + (6, 0) + ('bar',) # concatenate tuples
print(tup1) # print tup1

tup2 =('foo', 'bar') * 4 # multiply tuples
print(tup2)

('foo', [1, 2, 3], True)
(4, None, 'foo', 6, 0, 'bar')
('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [25]:
# Unpacking tuples
tup = (4, 5, 6) # tuple
a, b, c = tup # unpack tuple
print(b) # print b
print(a) # print a
print(c) # print c

5
4
6

In [26]:
tup = 4, 5, (6, 7) # tuple
a, b, (c, d) = tup # unpack tuple
d

7

In [27]:
# Swapping variable names
a, b = 1, 2 # assign values to variables
b, a = a, b # swap variable names
print(a) # print a
print(b) # print b

2
1

In [33]:
# Using *rest to capture excess items
values = 1, 2, 3, 4, 5 # tuple
a, b, *rest = values # unpack tuple
print(rest) # print rest
print(a) # print a
print(b) # print b

[3, 4, 5]
1
2

In [34]:
# sequence unpacking
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)] # list
for a, b, c in seq: # iterate over list
    print(f'a={a}, b={b}, c={c}') # print values

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [35]:
# Tuple methods
a = (1, 2, 2, 2, 3, 4, 2) # tuple
a.count(2) # count the number of times 2 appears in the tuple

4

## List
In contrast with tuples, lists are variable length and their contents can be modified in
place. Lists are mutable. You can define them using square brackets [] or using the
list type function:

In [2]:
a_list = [2, 3, 7, None] # list
tup = ('foo', 'bar', 'baz') # tuple
b_list = list(tup) # convert tuple to list
print(b_list) # print b_list
print(a_list) # print a_list
b_list[1] = 'peekaboo' # change value in list
print(b_list) # print b_list

['foo', 'bar', 'baz']
[2, 3, 7, None]
['foo', 'peekaboo', 'baz']

In [39]:
gen = range(10) # generator
gen # print gen

range(0, 10)

In [41]:
list(gen) # convert generator to list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
# elements can be added to a list using the append method
b_list.append('dwarf') # add element to list
print(b_list) # print b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [4]:
# using insert method to add element to a specific location
funny = ('foo', 'bar', 'baz') # tuple
tup_list = list(funny)# list
tup_list.insert(1, 'red') # insert element at index 1
print(tup_list) # print b_list

['foo', 'red', 'bar', 'baz']

In [6]:
# using pop method to remove elements from a list
tup_list.pop(2) # remove element at index 2

'bar'

In [5]:
# concatenating and combining lists
b_list + tup_list # concatenate lists

['foo', 'peekaboo', 'baz', 'foo', 'red', 'bar', 'baz']

In [8]:
# Sorting
a = [7, 2, 5, 1, 3] # list
print(a) # print a before sorting
a.sort() # sort list
print(a) # print a

[7, 2, 5, 1, 3]
[1, 2, 3, 5, 7]

In [9]:
# Sorting by key   
b = ['saw', 'small', 'He', 'foxes', 'six'] # list
b.sort(key=len) # sort list by length of elements
print(b) # print b

['He', 'saw', 'six', 'small', 'foxes']

In [10]:
# slicing
seq = [7, 2, 3, 7, 5, 6, 0, 1] # list
seq[1:5] # slice list from index 1 to 5

[2, 3, 7, 5]

In [2]:
# Dictionary
empty_dict = {} # dictionary
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]} # dictionary
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [3]:
# access, insert, or set elements using the same syntax as for accessing elements of a list or tuple:
d1[7] = 'an integer' # add element to dictionary
d1 # print d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [4]:
d1['b'] # access element in dictionary

[1, 2, 3, 4]

In [ ]:
# checking if dictionary contains a key
'b' in d1 #checks if 'b' is in d1

True